.header {
    background-color: black;
    font-family: "Comic Sans MS", cursive;
}

h1 {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    color:#a0dfe0;
    text-indent: 15%;
}


ul {
    font-size: 20px;
}

a {
    font-size: medium;
    color: white;
    align-items: center;
}