html {
    background: url(https://cdn.pixabay.com/photo/2021/05/23/20/08/forest-6277232_1280.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    display: block;
    background: black;
    font-family: Garamond;
    color: white;
    border-radius: 10%;
}

h1 {
    font-size: 55px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

.blue {
    color: #00CED1;
}

ol {
    font-size: 20px
}

a {
    color: white;
}